torch
torchvision
transformers==4.44.2
diffusers
accelerate
peft
datasets
bitsandbytes
pandas
numpy
scikit-image
opencv-python
Pillow
matplotlib
tqdm
pyyaml
gdown
safetensors
sentencepiece
einops
timm
torchmetrics
lpips
torch-fidelity
